<h1>
  <slot />
</h1>

<style lang="scss">
  @use "../../styles/vars" as v;

  h1 {
    font-family: v.$mainFont;
    font-size: 10rem;
    line-height: 1;
  }

  @media screen and (width >= 768px) {
    h1 {
      font-size: 15rem;
    } 
  }
</style>
