<h5>
  <slot />
</h5>

<style lang="scss">
  @use "../../styles/vars" as v;

  h5 {
    font-family: v.$secondaryFont;
    font-size: 1.8rem;
    line-height: 1;

    color: v.$primary;
    letter-spacing: 0.475rem;
  }

  @media screen and (width >= 768px) {
    h5 {
      font-size: 2rem;
    }
  }
</style>
