<h2>
  <slot />
</h2>

<style lang="scss">
  @use "../../styles/vars" as v;

  h2 {
    font-family: v.$mainFont;
    font-size: 8rem;
  }

  @media screen and (width >= 768px) {
    h2 {
      font-size: 10rem;
    }
    
  }
</style>
