---
import { Image } from "astro:assets";

import PageLogo from "../assets/shared/logo.svg";
import MenuLogo from "../assets/shared/icon-hamburger.svg"; 
---

<header>
  <Image src={PageLogo} alt="Page Logo" class="pageLogo"/>

  <Image src={MenuLogo} alt="Menu Mobile Button" class="menuButton"/>

  <ul>
    <li>
      <span>00</span>
      HOME
    </li>
    <li>
      <span>01</span>
      DESTINATION
    </li>
    <li>
      <span>02</span>
      CREW
    </li>
    <li>
      <span>03</span>
      TECHNOLOGY
    </li>
  </ul>
</header>

<style lang="scss">
  @use "../styles/vars" as v;

  header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.4rem;

    @media screen and (width >= 768px) {
      padding-left: 3.5rem;
      padding-right: 0;
      padding-top: 0;
    }

    @media screen and (width >= 992px) {
      padding-left: 4rem;
      padding-top: 3rem;
    }
  }

  .pageLogo {
    width: 4rem;
    height: 4rem;

    @media screen and (width >= 768px) {
      width: 4.8rem;
      height: 4.8rem;
    }
  }

  @media screen and (width >= 768px) {
    .menuButton {
      display: none;
    }
  }

  ul {
    display: none;
    align-items: center;
    column-gap: 3rem;
    
    padding: 4rem 6rem 0 6rem;

    list-style: none;

    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(4.5rem);

    @media screen and (width >= 768px) {
      display: flex;
    } 

    li {
      padding-bottom: 4rem;

      font-size: 1.4rem;
      letter-spacing: 0.236rem;

      border-bottom: 0.3rem transparent solid;

      span {
        display: none;

        margin-right: 0.75rem;

        font-weight: 700;

        @media screen and (width >= 992px) {
          display: inline-block;
        }
      }

      @media screen and (width >= 768px) {
        font-size: 1.6rem;
      }

      &:hover {
        border-bottom-color: v.$white;
      }
    }
  }

  
</style>